<div id="navigation" class="navbar navbar-default navbar-fixed-top sticky-nav fixednav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <p class="navbar-text navbar-left">Lukasz Sitnik</p>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="item.liClass" ng-repeat="item in menu" ng-click="changeView(item)">
                    <a ng-href="{{item.href}}">
                        <span ng-class="item.iconClass" aria-hidden="true"></span><br>{{item.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>