<section id="links">
    <div class="header-padding background-code-header"></div>
    <div class="container-wrapper">
        <div class="container">
            <h1>Links</h1><br>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="title">Online projects</div>
                            <ul>
                                <li><a href="http://pizzeriaplanetarium.pl">Pizzeria Planetarium</a></li>
                                <li><a href="http://github.com/lukasz-si/resume">Resume template</a></li>
                                <li><a href="http://github.com/lukasz-si/opening-hours">Opening Hours</a></li>
                                <li><a href="http://campanda.com">Campanda</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 hidden-print">
                            <div class="title">Used JS libraries</div>
                            <ul>
                                <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
                                <li><a href="http://jquery.com/">jQuery</a></li>
                                <li><a href="http://angularjs.org/">AngularJS</a></li>
                                <li><a href="http://requirejs.org/">RequireJS</a></li>
                                <li><a href="http://github.com/matthieua/WOW">WOW</a></li>
                                <li><a href="http://github.com/davist11/jQuery-One-Page-Nav">OnePageNav</a></li>
                                <li><a href="http://visjs.org/">vis.js</a></li>
                                <li><a href="http://github.com/gka/chroma.js">Chroma.js</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>