<div ng-controller="TimelineController">
    <h1>Timeline</h1>

    <br>

    <div class="navigation-buttons wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1s">
        <button class="btn btn-default zoomIn" ng-click="zoomIn()"><span class="fa fa-plus-square"></span> Zoom In
        </button>
        <button class="btn btn-default zoomOut" ng-click="zoomOut()"><span class="fa fa-minus-square"></span> Zoom Out
        </button>
        <button class="btn btn-default moveLeft" ng-click="moveLeft()">
            <span class="fa fa-chevron-left"></span> Move Left
        </button>
        <button class="btn btn-default moveRight" ng-click="moveRight()">Move Right
            <span class="fa fa-chevron-right"></span></button>
    </div>

    <div id="timeline-container" class="wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1s"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="project" ng-repeat="selectedProject in selectedProjects track by $index">
                <div class="company">{{getCompany(selectedProject.group).name}}</div>
                <div class="name">{{selectedProject.contentParsed}}</div>
                <div class="website">
                    <a ng-href="{{selectedProject.website}}" target="_blank">{{selectedProject.website}}</a></div>
                <div class="position">{{selectedProject.position}}</div>
                <div class="date">{{selectedProject.start}}{{(selectedProject.end ? ' - ' : '') + selectedProject.end}}{{selectedProject.months}}</div>
                <div class="description">{{selectedProject.description}}</div>
                <div>Technologies:</div>
                <div class="technologies">{{selectedProject.technologies.slice().join(', ')}}</div>
            </div>
        </div>
    </div>
</div>