<h3>Filter projects by:</h3>
Company:

<div class="button-group clearfix" data-toggle="buttons">
    <label class="btn btn-warning active" ng-click="selectedCompany={$:1}">
        <input type="radio" name="options" id="project-filter-technology" autocomplete="off" checked>All
    </label>
    <label class="btn btn-warning" ng-repeat="company in companies" ng-click="selectedCompany.group=company.id">
        <input type="radio" name="options" id="project-filter-technology" autocomplete="off">{{company.name}}
    </label>
</div>

Technology:
<div class="button-group clearfix" data-toggle="buttons">
    <label class="btn btn-primary active" ng-click="selectedTechnology.search='all'">
        <input type="radio" name="options" id="project-filter-technology" autocomplete="off" checked>All
    </label>
    <label class="btn btn-primary" ng-repeat="technology in technologies" ng-click="selectedTechnology.search=technology.id">
        <input type="radio" name="options" id="project-filter-technology" autocomplete="off">{{technology.name}}
    </label>
</div>

<div class="project" ng-repeat="project in projects | filter:selectedTechnology.compareTechnologies | filter:selectedCompany">
    <div class="row {{companies[project.group-1].className}}">
        <div class="col-md-3 wow fadeInLeft brand" ng-bind-html="trustAsHtml(companies[project.group-1].content)"></div>
        <div class="col-md-5 wow fadeInUp" ui-project-component></div>
        <div class="col-md-4 wow fadeInRight technologies" ui-technologies-component></div>
    </div>
</div>