<h3>Filter projects by:</h3>
Company:
<button ng-click="selectedCompany={$:1}">All</button>
<div ng-repeat="company in companies">
    <button ng-click="selectedCompany.group=company.id">{{company.name}}</button>
</div>
Technology:
<button ng-click="selectedTechnology.search='all'">All</button>
<div ng-repeat="technology in technologies">
    <button ng-click="selectedTechnology.search=technology.id">{{technology.name}}</button>
</div>

<div class="project" ng-repeat="project in projects | filter:selectedTechnology.compareTechnologies | filter:selectedCompany">
    <div class="row {{companies[project.group-1].className}}">
        <div class="col-md-3 wow fadeInLeft brand" ng-bind-html="trustAsHtml(companies[project.group-1].content)"></div>
        <div class="col-md-5 wow fadeInUp" ui-project-component></div>
        <div class="col-md-4 wow fadeInRight technologies" ui-technologies-component></div>
    </div>
</div>