#footer {
//    background-color: #282828;

    .container-wrapper {
        background-color: $bodyBackgroundColor;
        overflow: hidden;
        padding: 30px 0;
    }

    .header-padding {
        background-color: $linksBackgroundColor;
    }

}