$lettersCellWidth: 35px;

#home {
    .letters-container {

        padding: 20px 0 50px;

        .letters-row {
            height: $lettersCellWidth;
            overflow: hidden;

//            @media (max-width: $screen-xs-max) {
//                display: none;
//            }

            @media (max-width: $screen-sm-max) {
                text-indent: -($lettersCellWidth * 4 - 5);
                white-space: nowrap;
            }

            @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
                text-indent: -($lettersCellWidth * 2);
                white-space: nowrap;
            }

            .letters-cell {
                width: $lettersCellWidth;
                height: $lettersCellWidth;
                text-align: center;
                display: inline-block;
                line-height: $lettersCellWidth;
                font-size: $lettersCellWidth - 16px;
                color: #dcdcdc;

                &.letters-cell-marked {
                    color: #d24837;
                }
            }
        }
    }

    .hobbies {
        //        text-align: center;

        .hobby-wrapper {
            text-align: center;

            .hobby {
                            display: inline-block;
                //            float: left;
                //            margin: 20px 18px 0 0;
                padding-top: 10px;
                margin-top: 20px;
                border: 3px solid;
                border-radius: 50%;
                height: 100px;
                width: 100px;
                text-align: center;

                span {
                    margin-bottom: 7px;
                }
            }
        }
    }

    .intro-row {
        padding-top: 25px;
    }

    .border {
        border-bottom-color: #d7dddd;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        padding-top: 25px;
    }

    .quote-margin {
        margin: 0 20px 20px 0;
    }
}