$lettersCellWidth: 20px;

#resume {
    #navigation {
        text-transform: uppercase;
        border-bottom: 4px solid #d4d4d4;
        border-top: 4px solid #d24837;

        .navbar-header {
            padding-top: 12px;
            padding-bottom: 5px;
        }

        li {
            font-size: 15px;
        }

        a {
            color: #111;
            text-align: center;
        }

        .current a {
            color: #d24837;
        }

    }
}
