#navigation {
    $navbarColor: #f8f8f8;

    text-transform: uppercase;
    border-bottom: 4px solid #a4a4a4;
    border-top: 4px solid #d24837;
    background-color: rgba(1, 1, 1, 0.8);
    color: $navbarColor;

    .navbar-header {
        padding-top: 13px;
        padding-bottom: 7px;

        .navbar-brand, .navbar-brand:hover {
            color: $navbarColor;
        }
    }

    li {
        font-size: 15px;
        text-align: center;

        a {
            color: $navbarColor;
        }

        &.current a, a:hover {
            color: #d24837;
        }

        @media (max-width: $screen-xs-max) {
            text-align: left;

            br {
                display: none;
            }

            span {
                margin-right: 10px;
            }
        }
    }
}
