#resume {
    #timeline {
        background: #f6f6f6;
        border-top: 1px solid #d7dddd;
        border-bottom: 1px solid #d7dddd;

        .timeline-wrapper {
//            padding-bottom: $sectionPadding;
        }
    }
}