// centered image
// background: url("../images/bg1.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0)
$navbarHeight: 78px;
$sectionPadding: 30px 0 0 30px;
$bodyBackgroundColor: #282828;
$homeBackgroundColor: #efefef;
$timelineBackgroundColor: #fafafa;
$projectsBackgroundColor: #efefef;
$skillsBackgroundColor: #fafafa;
$boxShadowLine: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
$boxShadowLineDark: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.6);

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@import "font-awesome/font-awesome";
@import "_animate";
@import "bootstrap/_bootstrap";
@import "_navigation";
@import "_projects";
@import "_timeline";
@import "_loader";
@import "_vis";
@import "_introduction";
@import "_skill";
@import "_sunlight";
@import "_background-code";
@import "_footer";

#resume {

    background-color: $bodyBackgroundColor;

    .main-wrapper {
        opacity: 0;
        z-index: 1;
    }

    .container-extended {
        padding-left: 0px;
        padding-right: 0px;
    }

    section {
        position: relative;

        .header-padding {
            padding-top: $navbarHeight;
        }
    }

    .container-wrapper {
        border-top: 4px solid #d24837;

        &.first-wrapper {
            border-top: none;
        }
    }

    .background-code-header {
        background-color: rgba(50, 50, 50, 0.8);
    }

    .dark-background {
        color: #fff;

        a, a:visited, a:focus {
            color: #39b9fc;
        }

        a:hover, a:active {
            color: #3894d3;
        }
    }

    :focus {
        outline: 0;
    }

    /* Links */
    a, a:visited, a:focus {
        text-decoration: none;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    /* Circles */
    .circle-wrapper {
        margin: 0 auto;
        width: 70px;

        .circle-panel {
            color: #FF6908;
            height: 70px;
            width: 70px;
            //        line-height: 70px;
            border-radius: 50%;
            text-align: center;
            border: solid 4px;
            font-size: 30px;
            position: relative;
            display: table-cell;
            vertical-align: middle;
        }
    }

    /* Icons */
    .fa-html5 {
        color: #e35600;
    }

    .fa-css3 {
        color: #2654b3;
    }

    .fa-gears {
        color: #800e00;
    }

    .fa-cubes {
        color: #004d08;
    }

    .fa-shield {
        color: #ba9800;
    }

    .fa-desktop {
        color: #020066;
    }

    .fa-tablet {
        color: #020053;
    }

    .fa-mobile {
        color: #020037;
    }

    .fa-graduation-cap {
        color: #002e7d;
    }

    .fa-group {
        color: #009d1e;
    }

    .fa-coffee {
        color: #cd0003;
    }

    .fa-beer {
        color: #b89400;
    }

    .fa-book {
        color: #64627e;
    }

    .fa-motorcycle {
        color: #000074;
    }

    .fa-music {
        color: #00ae1f;
    }

    .fa-bicycle {
        color: #00238c;
    }

    .fa-futbol-o {
        color: #52506d;
    }
}